.button {
  padding: 5px 20px 6px 20px;
  background: #fceff9 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #6600ff66;
  border: 2px solid #6600ff;
  border-radius: 50px;
  font-size: 19px;
}
