@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: auto;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
#root {
  position: relative;
  width: 375px;
  overflow-x: hidden;
  margin: auto;
}
.portal-auth {
  height: 100%;
  position: absolute;
  top: 0;
}
